/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4e6df;
  font-family: "BPG Nino Mtavruli", sans-serif;
}

.nav-styles {
  color: #5c2c79;
  font-size: 15px;
  font-weight: 600;
}

nav img {
  width: 53px;
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.register-styles {
  background-color: #65317e;
  border-style: none;
  border-radius: 10px 10px 10px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  width: 77px;
  height: 38px;
  max-width: 100%;
}

.logo-margin-right {
  margin-right: 400px;
}

.button-margin-left {
  margin-left: 350px;
}

.carousel img {
  height: 600px;
}

.carousel-item button {
  margin-top: 25px;
  margin-bottom: 270px;
  border-radius: 5px;
  border-width: 2px;
}

.carousel-custom-styles h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

.button-styles {
  width: 10px !important;
  height: 10px !important;
  background-color: #f5caf0 !important;
  background-clip: inherit !important;
  border: 0 !important;
  border-bottom: inherit !important;
  border-radius: 10px !important;
}

.title {
  color: #662e88;
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.carousel {
  margin-bottom: 50px;
}

.section1-flex {
  display: flex;
  justify-content: center;
}

.images-div-flex {
  display: flex;
  justify-content: center;
  width: 1150px;
  height: 500px;
  gap: 30px;
}
.images-div-flex img {
  width: 360px;
}
.images-div-flex div {
  width: 380px;
}
.images-div-flex h2 {
  font-size: 20px;
  font-weight: 600;
  color: #5c2c79;
  margin-bottom: 20px;
}
.images-div-flex p {
  line-height: 25px;
  width: 360px;
  height: 180px;
  font-size: 15px;
  color: #757373;
  font-weight: 700;
} /*# sourceMappingURL=styles.css.map */
